<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
      
        <rule name="BackendProxy" stopProcessing="true">
          <match url="^(api|public)/(.*)" />
          <action type="Rewrite" url="http://192.168.10.211:8080/{R:1}/{R:2}" />
        </rule>
        
        <rule name="ReactApp" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api|public)/" negate="true" /> 
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
        
      </rules>
    </rewrite>
  </system.webServer>
</configuration>